<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Streams</title>
</head>
<body>
    <ul>
        <% Array.from(user.streams).forEach((stream)=>{ %>
            <li><%= stream %></li>
        <% }) %>
            
    </ul>
</body>
</html>